<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>

    <h1>Welcome!</h1>
    <h3>Please register or login with your username!</h3>

    <form action="/main" method="GET">
        <input type="submit" value="Main" />
    </form><br>

    <form action="/user/registration" method="GET">
        <input type="submit" value="Registration" />
    </form><br>

    <form action="/login" method="GET">
        <input type="submit" value="LogIn" />
    </form><br>


</body>
</html>