<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h3>User profile:</h3>
<form action="#" th:action="@{/user}" th:object="${user}" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" th:field="*{id}">
    <p>Login: <input type="text" th:field="*{login}" required/></p>
    <p>Password: <input type="text" th:field="*{password}" required/></p>
    <p>First name: <input type="text" th:field="*{firstName}" required/></p>
    <p>Last name: <input type="text" th:field="*{lastName}" required/></p>
    <p>Patronymic: <input type="text" th:field="*{patronymic}" required/></p>
    <p><input type="submit" value="Edit" /></p>
<!--    <input type="hidden" name="_csrf" value="${_csrf.token}" />-->
</form>

    <form action="/user" method="get">
        <input type="submit" value="Back" />
    </form>

</body>
</html>